* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black url('prf2.png') no-repeat center center fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: #ffffff10;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  color: white;
  width: 90%;
  max-width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  margin: 1rem 0;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #001f3d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #001f3d;
}

#error-message {
  color: #f87171;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Espaço entre os botões */
  margin-top: 10px;
}

.btn-left, .btn-right{
  flex: 1; /* Faz os botões ocuparem o mesmo espaço */
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  background-color: #001f3f; /* Azul escuro (PRF style) */
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-left:hover, .btn-right:hover, .btn-confirm:hover {
  background-color: #003366; /* Um tom mais claro no hover */
}
